.card-body{
    border: 1px solid gray;
    padding: 1em;
    min-height: 3em;
}

.card{
    margin-bottom: 1em;
}

body {
    font-family: "Proxima Nova Light", "proxima-nova", sans-serif !important;
    color: #003d4c;
}

select{
    min-width: 12em;
    margin-bottom: 1em;
    margin-top: 1em;
}